body{
    width:100%;
    height:100%;
    background:#eeeeee;
    margin:0px;
    padding: 0px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: lighter;
    overflow-y: scroll;
}

.nav
{
    background:#23374d;
    padding: 40px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

b
{
    float: right;
}
.navcontent
{
    margin-left:2% ;
    font-size:20px;
    transition: 0.2s;
}
.navcontent:hover
{
    font-size:21px;
}


main {
    flex: 1 0 auto;
  }

