<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <script src="jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
    <title>CRACK</title>
</head>
<script>
</script>
<body style="display: flex;
min-height: 100vh;
flex-direction: column;
font-family: 'Alata', sans-serif;">
    
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="index.html">Logout</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <section class="container" style="padding: 50px;">
    <form class="container" style="width: 700px; background: whitesmoke; border-radius: 20px; padding: 50px;">
      <h3>Set Quiz</h3>
        <div class="row">
          <div class="input-field col s12">
            <input id="title" type="text" class="validate">
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="key" type="text" class="validate">
            <label for="key">Key</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="no_que" type="number" class="validate">
            <label for="no_que">Total Questions</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="date" type="date" class="validate">
            <label for="date">Date</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="time" type="time" class="validate">
            <label for="time">time</label>
          </div>
        </div>
        <div class="row">
          <center><button class="btn waves-effect waves-light" type="submit" name="action">Set</button></center>
        </div>
    </form>
  </section>
  <footer class="page-footer" style="background: #1089ff;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">Footer content</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Copyright Quiz
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

</body>
</html>